*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /*only use 100% when no padding or margin*/
    height: 120px;
    background-color: #293480;
    color: #FFD752;
}

header{
    flex-direction: column;
}
h1,
h2{
    text-align: center;
}

.bowtie-cat{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px #000000);
}

ul{
    padding-left: 40px;
    font-size: 20px;
}

p{
    text-align: center;
    font-size: 30px;
}

/*four cards style */
.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid #808080;
    border-radius: 5px;
    box-shadow: 5px 10px 5px #888888;
  }

.box-model{
    width: 300px;
    vertical-align: middle;
    
}